<div class="container">
  <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
          <h4 [appBackground]="'red'" [hoverColor]="'blue'"   > {{hedaerText}} </h4>

          <ul class="list-group">
            <li *ngFor="let item of items" (click)="onCLick(item)"  class="list-group-item">
                {{item}}
            </li>
          </ul>
          <div [ngSwitch]="current">
              <p *ngSwitchCase="1" >1</p>
              <p *ngSwitchCase="2">2</p>
              <p *ngSwitchCase="3">3</p>
              <p *ngSwitchDefault >default</p>
          </div>
      </div>
  </div>
</div>

<hr>
<h1>2 BLOCK</h1>
<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <app-cars></app-cars>
      </div>
  </div>
</div>

<br>
<br>
<hr>
<h1>1 BLOCK</h1>
<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <app-cars1></app-cars1>
      </div>
  </div>
</div>

<!-- <div app-cars></div> -->
<!-- <div class='app-cars'></div> -->