<div class="col-xs-8 col-xs-offset-2">
    <input type="text" class="form-control" [(ngModel)]="carSearch" placeholder="Search">
    <ul class="list-group">
        <li *ngFor="let car of cars | carFilter:carSearch:'descr'; let i = index"   
        class="list-group-item"
        >
        <b>{{i+1}} </b>{{car.name}} - <i>{{car.descr}}</i>
    </li>
    </ul>
    <h2>my custom pipe {{ num  }} </h2>
    <h2>my custom pipe {{ num | appPov }} </h2>
    <h2>my custom pipe {{ num | appPov:3 }} </h2>
        <hr>
        <h2>lowercase {{name | lowercase }} </h2>
        <h2>uppercase {{name | uppercase }} </h2>
        <h2>slice {{name | slice:0:4 }} </h2>
        <hr>
        <h2>number {{pi}} </h2>
        <h2>number {{pi | number}} </h2>
        <h2>number {{pi |  number:'1.3-4' }} </h2>
        <h2>number {{pi |  number:'2.2-2' }} </h2>
        <h2>123.123 number {{ 123.123 |  number:'.2-2' }} </h2>
        <hr>
        <h2>money {{money}} </h2>
        <h2>money {{money | currency:'USD':false}} </h2>
        <h2>money {{money | currency:'USD'}} </h2>

        <hr>
        <h2>date {{ date }} </h2>
        <h2>date {{ date | date }} </h2>
        <h2>date {{ date | date:'fullDate' }} </h2>
        <h2>date {{ date | date:'shortDate' }} </h2>
        <h2>date {{ date | date:'shortTime' }} </h2>
        <hr>
        <h2>flot  {{ amount }} </h2>
        <h2>percent  {{ amount | percent }} </h2>
        <hr>
        <h2>object  {{ object }} </h2>
        <h2>json  {{ object | json }} </h2>
        <h2><pre>json  {{ object | json }} </pre></h2>
     </div>