<div class="col-xs-8 col-xs-offset-2">
  <h1> {{ appTitle | async }}</h1>
  <input type="text" class="form-control" [(ngModel)]="carName">
  <hr>
  <button class="btn btn-primary" (click)="loadCars()" >Загрузить машины</button>
  <button class="btn btn-succes" (click)="addCar()"> add car</button> 
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let car of cars">
      <span [ngStyle]="{background: car.color}"
      class="badge">
      {{car.id}}
      </span> 
      {{car.name}} 
      <button class="btn btn-xs btn-info" (click)="newColor(car)" >change color</button>
      <button class="btn btn-xs btn-danger" (click)="delCar(car)" >del car</button>
    </li>
  </ul>
</div>
