<input type="text"  class="form-control" [(ngModel)]="carName" >
<button type="button" class="btn btn-primary" (click)="addCar()"  >Add car</button>
<p *ngIf="!addCarStatus; else successStatys">car not added</p>
<ng-template #successStatys>
  <p>car added</p>
</ng-template>
<p *ngIf="addCarStatus">car added</p>
<hr>

<!-- <app-car *ngFor="let car of cars"></app-car> -->


<ul>
  <li *ngFor="let car of cars; let idx = index">
    <div
      [ngClass]="{'bg': car.length > 4}" 
      [ngStyle]="{backgroundColor: (idx+1) % 2 === 0 ? 'red' : 'blue ', color: 'white'}"
    >
      <b>{{idx+1}}</b> - {{car}}
    </div>
  </li>
</ul>
